/* fonts */
@font-face {
    font-family: 'montserratultra_light';
    src: url('../fonts/montserrat-ultralight-webfont.eot');
    src: url('../fonts/montserrat-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-ultralight-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-ultralight-webfont.woff') format('woff'),
         url('../fonts/montserrat-ultralight-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-ultralight-webfont.svg#montserratultra_light') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserrat-light-webfont.eot');
    src: url('../fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-light-webfont.woff') format('woff'),
         url('../fonts/montserrat-light-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont.eot');
    src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff'),
         url('../fonts/montserrat-bold-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratblack';
    src: url('../fonts/montserrat-black-webfont.eot');
    src: url('../fonts/montserrat-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-black-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-black-webfont.woff') format('woff'),
         url('../fonts/montserrat-black-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-black-webfont.svg#montserratblack') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* preset */
body * {
	font-family: 'montserratregular', sans-serif;
}
/* common */
.margin-top-1 {
	margin-top: 50px;
}
.margin-top-2 {
	margin-top: 100px;
}
.overflowHidden {
	overflow: hidden;
}
.bigTitle {
	font-family:montserratultra_light, sans-serif;
	font-size: 40px;
}
.bigTitle strong {
	font-family:montserratblack, sans-serif;
	}
h2 {
	font-family:montserratultra_light, sans-serif;
}
h2 strong {
	font-family:montserratblack, sans-serif;
	}
.bigText {
	font-size: 25px;
}
/* color */

.bgRed {
	background-color: #ed6362;
}
.green {
	color: #a0cc65;
}
.circle:before {
	content: ' \25CF';
	font-size: 70px;
	position: relative;
	top: 12px;
	display: inline-block;
	line-height: 1;
	font-style: normal;
}
h2 .circle {
	margin-right: 20px;
}
/* header */
.topWrap {
	height: 60px;
}
.socalBadges a {
	color: #fff;
	font-size: 24px;
	display: inline-block;
	margin-right: 10px;
	padding: 13px 0;
}
.socalBadges a:hover {
	color: #eee;
}
/*menu*/
.navbar-nav a {
	color: #000;
	text-transform: uppercase;
}
.navbar-nav li.active a {
	color: #9f2b39;
}
/*slider*/
.wrapperSlider {
	background-color: #eee;
}
#slider {
	background-color: #ccc;
}
/* banner Home */
.banner a {
	display: block;
}
.banner a img {
	height: 200px;
	width: auto;
	display: block;
	margin: auto;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.banner a:hover img {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}
/* carousel */
ul.responsive {
	margin: 0;
}
ul.responsive li {
	width: auto!important;
	height: auto!important;
	margin: 0;
	padding: 0;
}
/* coming soon home */
#coming-soon a {
	color: #000;
	display: inline-block;
	margin-left: 20px;
	width:90%;
	vertical-align:text-top;
}
#coming-soon ul {
	margin-left: 0;
	padding-left: 0;
}
#coming-soon li {
	margin: 0;
	padding: 0;
	margin-bottom: 5px;
	list-style: none;
}
#coming-soon li:hover {
	color: #ed6362;
}
/* homeStats */
#homeStat { position:relative;
}
#stat {position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
   left: 50%;}
.imageHolder { background-color:#000;}
.imageHolder img {
	-webkit-filter: blur(5px);
	filter: blur(5px);
	opacity:0.5;
}
/* news carousel */
ul.news-carousel li div{
	width:260px;
	height:450px;
	margin-right:12px;
	margin-left:12px;
	overflow:hidden;
	}
ul.news-carousel li div p,ul.news-carousel li div h3 { white-space:normal!important;}
ul.news-carousel li img {
  	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
ul.news-carousel li a:hover img{
	opacity: 0.70;
	filter: alpha(opacity =70);
}
/* homeQuotes */
#homeQuote {position:relative; }
#homeQuote p,#homeQuote p small {font-family:montserratultra_light, sans-serif;}
#homeQuote p strong {font-family:montserratblack, sans-serif;}
#homeQuote > div {}
#homeQuote blockquote {position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
   left: 50%;
  margin:0; border:none;
  text-align:center;
  color:#fff;
  font-size:50px;
  width:70%
 }
#homeQuote  .quoteAuthor {text-align:right; font-size:30px; bottom:20px; right:20px; position:absolute; font-family:montserratblack, sans-serif;}
#homeQuote .quoteAuthor small,#homeQuote  .quoteAuthor { color:#fff; display:block;}
#homeQuote .quoteAuthor small:before { content:normal;}



.captionSlider {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 70%;
    padding: 20px;
	background-color:rgba(0,0,0,0.75);
}


/* home area genitori */
.home #area-genitori h2 { margin-top:0;}
.home .banner img {width:100%; height:auto;}
